__pycache__
*.pyc
*.DS_Store

# PlatformIO
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json

KnightLab_SensorGrid/.vscode/*
KnightLab_SensorGrid/.gitignore
KnightLab_SensorGrid/lib/KnightLab_SDConfig/*

# SensorGridPM
SensorGridPM/lib/KnightLab_SDConfig/
