#ifndef config_h
#define config_h

/*************/
/* All Nodes */
/*************/
#define VERSION 0.11
#define NETWORK_ID 1
#define NODE_ID 1
#define WIFI_MODULE WINC1500
#define DUST_SENSOR SHARP_GP2Y1010AU0F

const bool DEBUG = true; // only use debug if attached to USB
const bool CHARGE_ONLY = false;
const bool TRANSMIT = true; // false for debugging only. Will still tx incoming messages
const bool RECEIVE = false; // false for debugging only
const float RF95_FREQ = 915.0; // 915.0 for U.S.

// The default transmitter power is 13dBm, using PA_BOOST.
// If you are using RFM95/96/97/98 modules which uses the PA_BOOST transmitter pin, then 
// you can set transmitter powers from 5 to 23 dBm:
const uint8_t TX_POWER = 10;

/* Up to 10 data types according to the types of sensor modules you plan to use.
 * The order here is the order they will be in the data array */
enum DATA_TYPES {
    VISIBLE_LIGHT,
    IR_LIGHT,
    UV_LIGHT,
    TEMPERATURE_100,
    HUMIDITY_100,
    DUST_100
};


/********************/
/* WiFi Module only */
/********************/

/** IMPORTANT NOTE: WiFi Module must be a Feather M0 **/

#if WIFI_MODULE
const char WIFI_SSID[] = ""; //  network SSID (name)
const char WIFI_PASS[] = ""; // network password (use for WPA, or use as key for WEP)
const char API_SERVER[] = "";
const int API_PORT = 5000;
const char API_HOST[] = "";
#endif

#endif
